footer a {
	color: inherit;
	text-decoration: underline;
}

footer a:hover {
	text-decoration: none;
	color: #f5f5f5;
}
  
/* styling for search box */
.searchbar {
	width: 15%;
	height: 50%;
	float: right;
}

/* styling links in top nav bar */
#topright ul {
	padding-right: 15% !important;
}
#topright ul li a {
	font-size: 17px !important;
}
#topright ul li a:hover{
	font-size: 17px !important;
	text-decoration: underline;
}
