html body nav a.title {
	font-weight: bolder !important;
}

footer a:hover {
	text-decoration: underline;
	color: #f5f5f5;
}

/* styling links in top nav bar */
#topright ul li a:hover{
	text-decoration: underline;
}
